html,
body,
body div,
span,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
font,
img,
s,
small,
strike,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
button,
form,
fieldset,
article,
aside,
footer,
header,
nav,
section,
input,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    list-style: none;
    font-family: 'Montserrat';
    font-size: 16px;
}

html * {
    max-height: 1000000px;
}

:focus,
:active {
    outline: none;
}

body {
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

/* ------------------------------------------- */

@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald-Medium.ttf');
    font-weight: bold;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    width: 1220px;
    box-sizing: border-box;
    padding: 0 14px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex: 1 1 auto;
}

.header {
    background: url('../img/index-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: 90% 0;
    margin: 0 0 80px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 110px;
}

.logo_mobile {
    display: none;
}

.burger {
    display: none;
}

.header-nav__list {
    display: flex;
    gap: 32px;
}

.header-nav__link {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 0 8px;
}

.header-nav__link:hover {
    border-bottom: 2px solid #FFFFFF;
}

.title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

.header-content__title {
    margin: 0 0 40px;
}

.header-content {
    position: relative;
    padding: 0 0 260px;
}

.header-content picture {
    position: absolute;
    top: -80px;
    left: 400px;
    z-index: 0;
}

.header-content p {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 65px;
}

.header-content__link {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #68B738;
    padding: 14px 26px;
}

/* Mass */

.mass-blocks {
    display: grid;
    grid-template-columns: 570px;
    grid-template-rows: 375px;
    grid-template-areas: "a b";
    gap: 80px;
    margin: 0 0 75px;
}

.mass-block__left,
.mass-block__right {
    background: #F2F2F2;
}

.mass-block__content {
    padding: 40px 50px 50px;
}

.title__left::before {
    content: url('../img/cat_back1.svg');
    vertical-align: middle;
    padding-right: 60px;
}

.title__right::before {
    content: url('../img/cat_back2.svg');
    vertical-align: middle;
    padding-right: 50px;
}

.mass-block__content__title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0 0 40px;
}

.mass-block__content__text {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 25px;
}

.mass-block__content__link {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}

.mass-block__content__link::after {
    content: url('../img/icon_arrow.svg');
    position: absolute;
    bottom: 2px;
    padding-left: 30px;
}

/* works */
.works {
    margin: 0 0 70px;
}

.works__title {
    margin: 0 0 32px;
}

.works__blocks {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 280px;
    grid-template-areas: "a b c d";
    gap: 70px;
}

.works__block {
    position: relative;
}

.works__block__img {
    padding: 40px 0 30px;
}

.works__block__text {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}

.works__block__number {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: -1;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #F2F2F2;
}

/* example */

.example {
    background: linear-gradient(to top, #F2F2F2 75%, white 25%)
}

.example__wrapper {
    display: flex;
    gap: 180px;
    padding: 0 0 70px 0;
}

.example__title {
    padding: 0 0 150px;
}

.example__text {
    width: 436px;
    height: 95px;
    padding: 0 0 75px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}

.example__content {
    padding: 0;
}

.example__weight {
    display: flex;
    gap: 40px;
    margin-bottom: 55px;
}

.example__weight__left {
    position: relative;
}

.example__weight__left p:first-child {
    display: inline-block;
    padding: 15px 55px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}

.example__weight__left p:not(:first-child) {
    position: absolute;
    bottom: -6px;
    right: 20px;
    font-size: 14px;
    line-height: 14px;
    background: #F2F2F2;

}

.example__weight__right {
    position: relative;
}

.example__weight__right p:first-child {
    display: inline-block;
    padding: 15px 30px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}

.example__weight__right p:not(:first-child) {
    position: absolute;
    bottom: -6px;
    right: 10px;
    font-size: 14px;
    line-height: 14px;
    background: #F2F2F2;
}

.example__cash p {
    display: inline-block;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.example__cash p:first-child {
    padding: 0 65px 0 0;
}

/* slider */

.example__slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.example__slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.before {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.change {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 1.5px;
    background: #68B738;
    z-index: 5;
    cursor: col-resize;
}

.change::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #68B738;
    transform: translate(-50%, -50%);
}

/* adress */

.adress {
    position: relative;
    background: #F2F2F2;
}

.adrees__block {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 570px;
    min-height: 200px;
    top: 95px;
    background: #FFFFFF;
}

.adress__block__welcome {
    padding: 65px 0 50px 75px;
}

.adress__block__welcome p {
    display: inline-block;
    width: 165px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-transform: uppercase;
    color: #111111;
}

.adress__block__contact {
    padding: 62px 90px 60px 0;
}

.adress__block__contact p {
    display: block;
    width: 155px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
}

.adress__block__contact p:not(:last-child) {
    padding: 0 0 20px;
}

/* footer */

.footer {
    background: #F2F2F2;
    position: relative;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.footer__web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 1219px) {
    .container {
        width: 710px;
    }

    .header {
        background: none;
    }

    .header-menu {
        padding: 25px 0 65px;
    }

    .header-nav__link {
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }

    .header-nav__link:hover {
        border-bottom: 2px solid #68B738;
    }


    .header-content {
        padding: 0 0 526px 87px;
    }

    .header-content picture {
        top: 200px;
        left: -100px;
        z-index: -1;
    }

    /* Mass */

    .mass-blocks {
        grid-template-columns: 710px;
        grid-template-rows: 375px;
        grid-template-areas:
            "a"
            "b";
        gap: 30px;
        margin: 0 0 45px;
    }

    .title__left::before {
        content: none;
    }

    .title__right::before {
        content: none;
    }


    .mass-block__content {
        padding: 75px 0 50px 55px;
    }

    .text__left {
        width: 377px;
        position: relative;
    }

    .text__right {
        width: 342px;
        position: relative;
    }

    .text__left::after {
        content: url('../img/cat_back_tablet1.svg');
        position: absolute;
        top: -55px;
        right: -220px;
    }

    .text__right::after {
        content: url('../img/cat_back_tablet2.svg');
        position: absolute;
        top: -55px;
        right: -280px;
    }

    /* works */
    .works {
        margin: 0 0 90px;
    }

    .works__blocks {
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 280px;
        column-gap: 150px;
        row-gap: 40px;
        grid-template-areas:
            "a b"
            "c d";
    }

    /* example */

    .example {
        background: linear-gradient(to top, #F2F2F2 40%, white 20%);
    }

    .example__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .example__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 150px;
    }

    .example__title {
        padding: 0 0 65px;
    }

    .example__text {
        width: auto;
        height: auto;
    }

    .example__weight {
        display: flex;
        gap: 40px;
        margin: 0;
    }

    .example__weight__left p:not(:first-child) {
        background: white;
    }

    .example__weight__right p:not(:first-child) {

        background: white;
    }

    .example__cash {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    .example__cash p:first-child {
        padding: 0;
    }

    .example__slider {
        border: none;
        width: 580px;
        height: 570px;
    }

    /* adress */
    .adress {
        position: relative;
        background: linear-gradient(to top, #F2F2F2 20%, white 80%);
    }

    .adrees__block {
        position: static;
        align-items: center;
    }

    .adress__block__welcome,
    .adress__block__contact {
        padding: 0;
    }

    .adress__block__contact p {
        text-align: right;
    }

}

@media screen and (max-width: 709px) {
    .container {
        width: 280px;
        padding: 0 5px;
    }

    .logo_mobile {
        display: block;
    }

    .header-menu {
        justify-self: center;
    }

    .burger {
        top: 6px;
        display: block;
        position: relative;
        width: 24px;
        height: 16px;
        cursor: pointer;
    }

    .burger__span,
    .burger__span::after,
    .burger__span::before {
        position: absolute;
        width: 100%;
        height: 1.5px;
        background: #000000;
    }

    .burger__span::before {
        content: "";
        top: -8px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .burger__span::after {
        content: "";
        bottom: -8px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .burger span.active:before {
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .burger span.active:after {
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .burger span.active {
        background: rgba(255, 255, 255, 0);
    }

    .header-nav__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .nav {
        position: relative;
    }

    .header-nav {
        display: block;
        position: fixed;
        right: -100%;
    }

    .header-nav.animate {
        position: absolute;
        top: 30px;
        width: 250px;
        z-index: 3000;
        padding: 10px;
        background: #FFFFFF;
        border: 1px solid black;
    }

    .header-nav__link {
        font-size: 14px;
        line-height: 18px;
        padding: 0 0 2px;
    }

    .header {
        background: url('../img/index-background-mobile.svg');
        background-repeat: no-repeat;
        background-position: 50% 60px;
        margin: 0 0 20px;
    }

    .header-menu {
        padding: 10px 0 47px;
    }

    .header-content__title {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 0 25px;
    }

    .header-content {
        padding: 0;
    }

    .header-content picture {
        position: absolute;
        top: 130px;
        left: -20px;
        z-index: 0;
    }

    .header-content p {
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        margin: 0 0 290px;
        text-align: center;
    }


    .header-content__link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 18px;
        padding: 14px 44px;
    }

    /* mass */

    .mass-blocks {
        grid-template-columns: 270px;
        grid-template-rows: 276px;
        grid-template-areas:
            "a"
            "b";
        gap: 20px;
        margin: 0 0 27px;
    }

    .mass-block__content {
        padding: 22px 33px 20px 20px;
    }

    .mass-block__content__title {
        font-size: 24px;
        line-height: 37px;
        padding: 0 0 20px;
    }

    .mass-block__content__text {
        padding: 0 0 40px;
    }

    .text__left {
        width: 227px;
        font-size: 14px;
        line-height: 18px;
        color: #444444;
        position: relative;
    }

    .text__right {
        width: 227px;
        font-size: 14px;
        line-height: 18px;
        position: relative;
    }

    .title__left::before {
        content: url('../img/cat_back_mobile_1.png');
        vertical-align: middle;
        padding-right: 19px;
    }

    .title__right::before {
        content: url('../img/cat_back_mobile_2.svg');
        vertical-align: middle;
        padding-right: 11px;
    }

    .text__left::after,
    .text__right::after {
        content: "";
    }

    /* works */
    .works {
        margin: 0 0 40px;
    }

    .works__title {
        margin: 0 0 38px;
        font-size: 36px;
        line-height: 40px;
    }

    .works__blocks {
        display: grid;
        grid-template-columns: 280px;
        grid-template-rows: 60px;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d";
        gap: 20px;
    }

    .works__block {
        position: relative;
        display: flex;
        align-items: center;
    }

    .works__block__img {
        width: 60px;
        padding: 0 20px 0 0;
    }

    .works__block__text {
        font-size: 14px;
        line-height: 18px;
    }

    .works__block__number {
        display: none;
    }

    /* example */
    .example {
        background: #EAEAEA;
    }

    .example__title {
        font-size: 36px;
        line-height: 40px;
        padding: 30px 0 30px;
    }

    .example__text {
        padding: 0 0 25px;
        font-size: 14px;
        line-height: 18px;
    }

    .example__content {
        display: flex;
        flex-direction: column;
        padding: 0 0 75px;
    }

    .example__weight {
        display: flex;
        gap: 20px;
        margin-bottom: 25px;
    }

    .example__weight__left p:first-child {
        display: inline-block;
        padding: 14px 42px 17px;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }

    .example__weight__left p:not(:first-child) {
        bottom: -5px;
        right: 14px;
        font-size: 12px;
        line-height: 12px;
        background: #EAEAEA;
    }

    .example__weight__right p:first-child {
        padding: 14px 20px 17px;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }

    .example__weight__right p:not(:first-child) {
        width: 95px;
        bottom: -10px;
        right: 15px;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        background: #EAEAEA;
    }

    .example__cash {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .example__cash p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .example__cash p:first-child {
        padding: 0;
    }

    .example__slider {
        width: 260px;
        height: auto;
    }

    .example__slider img {
        width: 260px;
    }


    .change::after {
        width: 10px;
        height: 10px;
    }


    /* adress */
    .adrees__block {
        position: static;
        min-width: 270px;
        min-height: 115px;
    }

    .adress__block__welcome {
        padding: 0;
    }

    .adress__block__welcome p {
        width: 135px;
        font-size: 16px;
        line-height: 18px;
    }

    .adress__block__contact {
        padding: 0;
    }

    .adress__block__contact p {
        width: 155px;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }

    .adress__block__contact p:not(:last-child) {
        padding: 0 0 0;
    }

    /* footer */

    .footer {
        background: #F2F2F2;
        position: relative;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        gap: 30px;
    }


    .footer__web {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        padding: 20px 0;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
    }


}